# Maven
target/
.mvn/
mvnw*
HELP.md

# Logs
*.log

# Compiled files
*.class
*.jar
*.war
*.ear

# IDEs
.idea/
*.iml
*.iws
*.ipr

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS
.DS_Store